* {
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);


body{
  font-size:14px;
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 1px;
}

p {
    font-size: 12px;
    line-height: 1.45em;
    color:white;
}
@media only screen and (max-width:768px){
  p{
    font-size: 14px;
  }
}

.navbar {
  display: none;
}
@media only screen and (max-width:768px){
  .navbar{
    width:100%;
    display:inline-block;
  }
}
/*
.glyphicon.glyphicon-download{
  font-size: 200%;
  margin-left:49.5%;
}
@media only screen and (max-width:768px){
  .glyphicon.glyphicon-download{
    font-size: 100%;
    margin-left:49%;
  }
}
*/

#home{
  height: auto;
  min-height: 100vh;
  padding:0px 0px 0px 0px ;
  background-color: #2a4399;
}
@media only screen and (max-width: 768px) {
  #home{
  }
}
#home .home-background{
  top:5%;
  width:68%;
  height: 185%;
  right:32%; 
  position: absolute;
  float:left;
}
#home .title{
  margin-top:21.5%;
  margin-right:15%;
  left:60%;
  float:right;
  width:19%;
}
#home .subtitle{
  color:#ec675a;
  padding-left: 20px;
  margin-top: -5px;
}
/*openhci2017*/

#openhci2017{
  width:100%;
  padding:80px 0px 0px 0px ;
  height:100vh;
  background-color: #2a4399;
}
#openhci2017 .content-container{
  float:right;
  width:25%;
  margin-right:10%;  
}
#openhci2017 .title{
  width:35%;
  float:left;
  clear:auto;
}
#openhci2017 .half-container{
  float:left;
  padding:0 9%;
  margin-top: 4%;
}
#openhci2017 .half-container p{
  font-size:12px;
  font-weight: 100;
  line-height: 1.5em;
  letter-spacing: 1px;
  color:#ec675a;
}
#openhci2017 .half-container-eng{
  float:left;
  color:white;
  padding:0 9%;
}
#openhci2017 .half-container-eng p{
  font-size:10px;
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 1px;
}
@media only screen and (max-width: 768px) {
  #openhci2017{
    padding:0px;
    height:auto;
    margin:auto;
  }
}
@media only screen and (max-width: 768px) {
  #openhci2017 .half-container{
    float:none;
    width:100%;
    margin:auto;
    padding:20px 30px;
  }
}
@media only screen and (max-width: 768px) {
  #openhci2017 .content-container{
    
  }
}

/*  intro_goals */

#intro_goals{
  padding:100px 0px 0px 0px ;
  height:auto ;
  min-height: 100vh;
  background-color: #ec675a;
}
#intro_goals .frame{
  display: inline-block;
  width:40%;
  vertical-align: top;
  margin-left: 13%;
  margin-right: 2%;
}
#intro_goals .title{
  display: inline-block;
  width:13%;
}
#intro_goals .intro-background{
  display: inline-block;
  width:44%;
  margin-top: -8%;
}
#intro_goals .content-container{
  display: inline-block;
  width:100%;
  vertical-align: top;
  font-color:white;
}
#intro_goals .content-container h3{
  color: #2a4399;
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  #intro_goals{
    padding:0px;
    height:auto;
  }
}
@media only screen and (max-width: 768px) {
  #intro_goals .frame{
    width:100%;
    margin:0 auto;
  }
}
@media only screen and (max-width: 768px) {
  #intro_goals .content-container{
    float:none;
    width:100%;
    margin:auto;
    padding:0px 20px;
  }
}
@media only screen and (max-width: 768px) {
  #intro_goals .intro-background{
    display: none;
  }
}

/*program*/

#program{
  height: auto;
  min-height: 100vh;
  position: relative;
  display:flex;
  background-color: #ec675a;
  /*border: 1px solid green;*/
}

#program .left-side-bar{
  flex:0.2;
  padding-top: 100px;
}

#program .left-side-bar .back-btn,.next-btn{
 width: 20%;
 margin-left: 30px;
}

@media screen and (max-width: 768px){
  #program .left-side-bar .back-btn,.next-btn {
      width: 40%;
      margin:0 auto;
  }
}

#program .left-side-bar .next-btn,.back-btn .text{
  text-align: center;
  font-size: 12px;
  color:#2a4399;
}


#program .right-container{
  flex:1;
  display:flex;
  /*border: 1px solid blue;*/
}

#program .right-container .date{
  margin-top: 50px;
  margin-left: 10px;
}

#program .right-container .title{
  color: #2a4399;
}

#program .right-container .title span{
  font-size: 15px;
  color: #ffffff;
}

#program .right-container p{ 
  color: #ffffff;
  font-size: 13px;
  font-weight: lighter;
  line-height:12px;
} 

#program .right-container .day-block1,.day-block2,.day-block3{
  flex:1;
  /*border: 1px solid green;*/
}

#program .right-container .day1,.day2,.day3,.day4,.day5,.day6{
  position: absolute;
}

#program .right-container  p{
  opacity: 0;
}

#program .right-container  .date{
  opacity: 0;
}

#program .right-container  .title{
  opacity: 0;
}

#program .right-container  .icon{
  opacity: 0;
}

#program .right-container .active p{
  opacity: 1;
}

#program .right-container .active .date{
  opacity: 1;
}

#program .right-container .active .title{
  opacity: 1;
}

#program .right-container .active .icon{
  opacity: 1;
}










/* Registration */
#registration{
  height:auto;
  min-height: 100vh;
  position:relative;
  background-color: #ec675a;
  border: 1px solid red;
}
@media screen and (max-width: 768px) {
  #registration{

  }
}

#registration section {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    min-height: 330px;
    z-index: 10;
}

#registration .animate-right {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(100%);
}

#registration .animate-left {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(-100%);
}

#registration .animate-center {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(0%);
}

#registration .logo {
  position: relative;
  width: 100%;
  height: ;
  text-align: center;
  z-index: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
#registration .logo .flip {
  position: relative;
  top:5%;
  left: 50%;
  margin-left: -90px;
  perspective: 800;
  margin-top: 35px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  
}

#registration .logo .flip .flipper {
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center;
  
}

#registration .logo .flip .flipper .front,.back {
  width: 180px;
  height: 180px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  border-radius: 50%;
  
}

#registration .logo .flip .flipper .front {
  z-index: 2;
  
}
#registration .logo .flip .flipper .back {
  transform: rotateY(180deg);
}

#registration .logo .back-btn {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  margin-left: -65px;
  background: #2a2e3a;
  padding: 5px;
  left: 0%;
  top: 53%;
  display: none;
  transition: background-color 0.1s ease-in-out;
}

@media only screen and (max-width: 768px) {
  #registration .logo .back-btn{
    padding:3px;
  }
}
#registration .logo .back-btn a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  border-radius: 50%;
  background: url("http://www.digitalatelier.ro/css/../images/x.png") center #05b9dc no-repeat;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .logo .back-btn a{
    width:35px;
    height: 35px;
  }
}

#registration .bar .next a:hover {
  background-color: #f04e37;
}
#registration .bar .prev a:hover{
  background-color: #f04e37;
}
#registration .logo .back-btn a:hover{
  background-color: #f04e37;
}

#registration .bar {
  position: absolute;
  width: 100%;
  height: 0px;
  z-index: 100;
  top:260px;
  text-align: center;
}
#registration .bar-text {
  position: absolute;
  width: 100%;
  font-weight: 700;
}
#registration .bar-text p {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  display: inline-block;
  word-spacing: 2px;
  background: #333745;
  color: white;
  padding: 0 18px;
  padding-bottom: 3px;
  border-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar-text p {
    font-size: 15px;
    padding: 5px 5px;
    padding-bottom: 9px;

  }
}


#registration .bar .next,.prev {
  display: none;
  top: -10px;
  background: #333745;
  position: absolute;
  z-index: 99;
  padding: 5px;
}
#registration .bar .next {
  left: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar .next {
    top:1.5px;
    left:104.5%;
  }
}
#registration .bar .next a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  background: url("http://www.digitalatelier.ro/css/../images/ar-l.png") center no-repeat #05b9dc;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .bar .next a{
    width:35px;
    height: 35px;
    margin:2px;
  }
}

#registration .bar .prev {
  left:-65px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar .prev {
    top:1.5px;
  }
}
#registration .bar .prev a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  background: url("http://www.digitalatelier.ro/css/../images/ar-r.png") center no-repeat #05b9dc;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .bar .prev a{
    width:35px;
    height: 35px;
    margin:2px;
  }
}


#registration .work ul {
  padding-left: 0px;
  text-align: center;
  display: block;
  overflow: hidden;
  list-style-type:none;
}

#registration .work ul li {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 26px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border:1px solid blue;
}

@media only screen and (max-width: 768px){
  #registration .work ul li{
    width:150px;
    height:150px;
  }
}
#registration .pic{
  display: inline;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#registration .work ul li a img{
  max-height: 100%;
  max-width: 100%;
}

#registration .work{
  position: absolute;
  top:400px;
  
}

@media only screen and (max-width: 768px){
  #registration .work{
    top:320px;
  }
}
.project-step01,.project-step02,.project-step03,.project-step04,.project-step05{
  display: none;
  position: absolute;
  top:350px;

}

@media only screen and (max-width: 768px) {

  .project-step01,.project-step02,.project-step03,.project-step04,.project-step05{
    position: absolute;
    top:310px;
  }
}

#registration  .project-step01 .contact-container{
  float:left;
  width:50%;
  padding:20px 0px;
}
@media only screen and (max-width: 768px) {
  #registration  .project-step01 .contact-container{
  float:none;
  width:100%;
  padding:20px 30px;
  }
}
#registration  .project-step01 .contact-container-01{
  float:left;
  width:50%;
  padding:20px 100px 20px 0px;
}
@media only screen and (max-width: 768px) {
  #registration .project-step01 .contact-container-01{
  float:none;
  width:100%;
  padding:20px 30px;
  
}
}
#registration .project-step02 .contact-container{
  float:left;
  width:100%;
  padding:20px 20px;
}



/* Taichi */
#taichi{
  height: auto;
  min-height: 100vh;
  background-color: #ec675a;
  border: 1px solid red;
}
#taichi .content-container{
  float:right;
  width:50%;
  padding-top: 10%;
  padding-right:3%;
}
#taichi .content-container h4{
  color: #2a4399;
}
#taichi .content-container p{
  font-size: 16px;
}





/*crew*/

#crew{
  height:auto;
  min-height:100vh;
  background-color: #2a4399;
  position: relative;
  padding-top: 100px;
}
@media only screen and (max-width: 768px) {
  #crew{
    height:auto;
    padding-top:0px;
  }
}
#crew .crew-slide-bar{
  display: inline-block;
  width:15%;
  vertical-align: top;
  
}
@media only screen and (max-width:768px) {
  #crew .crew-slide-bar{
    width:80%;
     -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    margin-left: -70px;
    margin-top: -20px;
    margin-bottom: -20px;

  }
}

#crew .crew-slide-bar .back-btn , #crew .crew-slide-bar .next-btn{
 width: 20%;
 margin-left: 30px;
}
@media only screen and (max-width: 768px){
  #crew .crew-slide-bar .back-btn,#crew .crew-slide-bar .next-btn{
     -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    margin: ;
    transform: rotate(90deg);
  }
}

#crew .crew-slide-bar .next-btn,#crew .back-btn .text{
  text-align: center;
  font-size: 12px;
  color:#ec675a;
}
@media only screen and (max-width: 768px){
  #crew .crew-slider-bar .next-btn .text {
   
  }
}

#crew .crew-member{
  display: inline-block;
  width:84%;
  position: relative;

}
#crew .crew-member .member-container{
  display: inline-block;
  width:33%;
  vertical-align: top;
}
@media only screen and (max-width: 768px){
  #crew .crew-member .member-container{
    width:49%;
    padding:0px 20px;
  }
}
#crew .crew-member .member-container h4{
  border:1px solid white;
  text-align: center;
  width:70%;
  padding:8px;
  color:#ec675a;
  font-weight: 400;
  margin: 20px 0;
}
@media only screen and (max-width: 768px){
  #crew .crew-member .member-container h4{
    width:105%;
  }
}
#crew .crew-member .member-container .member .name{
  color: #ec675a;
  font-weight:100;
  margin: 18px 0 3px 0;
}
#crew .crew-member .member-container .member .description{
    color: white;
    line-height: 1.5em;
    font-weight: 100;
    font-size: 12px;
}





/* contact */
#contact{
  height:auto;
  min-height: 100vh;
  background-color: #2a4399;
}



/* Navigation */
nav.side-nav {
  position: fixed;
  left: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  z-index: 1000; 
}
nav.side-nav a, a:hover, a:active, a:visited, a:focus {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: #ffffff;
  text-decoration: none; 
}
nav.side-nav .nav-pic {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; 
}
nav.side-nav .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  transition: all 0.2s cubic-bezier(.17, .67, .83, .67); 
}

/* 當符合 nav中的li with .active中的nav-label */
nav.side-nav li.active a .nav-label {
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 1;
  visibility: visible; 
}
nav.side-nav ul {
  margin: 0;
  padding: 0; 
}
nav.side-nav li {
  width: auto;
  list-style: none; 
}

nav.side-nav li .nav-pic.blue-pic{
  opacity: 0;
}

nav.side-nav li .nav-pic.red-pic{
  opacity: 1;
}

nav.side-nav li .nav-label{
  color:#ec675a;
}

nav.side-nav li.active-blue .nav-pic.blue-pic{
  opacity: 1;
}

nav.side-nav li.active-blue .nav-pic.red-pic{
  opacity: 0;
}

nav.side-nav li.active-blue .nav-label{
  color:#2a4399;
}

nav.side-nav a:hover .nav-label {
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 1;
  color: #ffffff;
  visibility: visible;
}


.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 20s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -10s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;3
  animation-delay: -11s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -12s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -1s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -45%;}
}

