* {
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);


body{
  font-size:14px;
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 1px;
}

p {
    font-size: 1.2em;
    line-height: 1.45em;

}



.navbar {
  display: none;
}
@media only screen and (max-width:768px){
  .navbar{
    width:100%;
    display:inline-block;
  }
}
/*
.glyphicon.glyphicon-download{
  font-size: 200%;
  margin-left:49.5%;
}
@media only screen and (max-width:768px){
  .glyphicon.glyphicon-download{
    font-size: 100%;
    margin-left:49%;
  }
}
*/

#home{
  height: 705px;
  padding:0px 0px 0px 0px ;
  background-color: #2a4399;
}
@media only screen and (max-width: 768px) {
  #home{
  }
}
#home .home-background{
  top:5%;
  width:70%;
  height: 185%;
  right:32%; 
  position: absolute;
  float:left;
}
#home .title{
  margin-top:21.5%;
  margin-right:15%;
  left:60%;
  float:right;
  width:19%;
}
#home .subtitle{
  color:#ec675a;
  padding-left: 20px;
  margin-top: -5px;
}

/*openhci2017*/

#openhci2017{
  width:100%;
  border: 2px solid red;
  padding:80px 0px 0px 0px ;
  height:100vh;
  background-color: #2a4399;
}

#openhci2017 .half-container{
  display: inline-block;
  width:45%;
  padding:30px;
  margin-bottom: 2%;
  vertical-align: top;
}

#openhci2017 .hcilogo{
  padding-left:8%;
}

#openhci2017 .half-container .subtitle{
  font-size: 13px;
  margin-top: 50px;
}
#openhci2017 .content-container{
  display: inline-block;
  width:30%;
  padding:40px 40px;
  margin-left:30px;
  margin-top: 10px;
  vertical-align: top;
  
}
@media only screen and (max-width: 768px) {
  #openhci2017{
    padding:0px;
    height:auto;
    margin:auto;
  }
}
@media only screen and (max-width: 768px) {
  #openhci2017 .half-container{
    float:none;
    width:100%;
    margin:auto;
    padding:20px 30px;
  }
}
@media only screen and (max-width: 768px) {
  #openhci2017 .content-container{
    float:none;
    width:100%;
    margin:auto;
    padding:20px 30px;
  }
}



#intro_goals{
  height: 705px;
  border: 2px solid red;
  padding:100px 0px 0px 0px ;
  height:auto !important;
  min-height: 705px;
  background-color: #ec675a;
}

#intro_goals .half-container{
  display: inline-block;
  width:75%;
  padding:30px;
  margin-bottom: 1%;
  vertical-align: top;
}

#intro_goals .hcilogo{
  padding-left:8%;
}

#intro_goals .content-container{
  display: inline-block;
  width:30%;
  padding:40px 40px;
  margin-left:30px;
  margin-top: 10px;
  vertical-align: top;
}

@media only screen and (max-width: 768px) {
  #intro_goals{
    padding:0px;
    border:1px solid blue;
    height:auto;
  }
}
@media only screen and (max-width: 768px) {
  #intro_goals .half-container{
    float:none;
    width:100%;
    margin:auto;
    padding:20px 30px;
  }
}
@media only screen and (max-width: 768px) {
  #intro_goals .content-container{
    float:none;
    width:100%;
    margin:auto;
    padding:20px 30px;
  }
}


#program{
  border: 1px solid red;
  height: auto;
  min-height: 100vh;
  position: relative;
  border: 1px solid green;
  background-color: #ec675a;
}

#program .title {
    padding-top: 20px;
    /*border: 1px solid blue;*/
}


#program .program-container {
  display: flex;
  margin-top: 50px;
  /*border: 1px solid blue;*/
}

@media screen and (max-width: 1050px){
  #program  .program-container {
      margin-top: 16px;
  }
}

#program .program-container .left-side-container{
  flex:0.1;
  width: 10%;
  padding-left: 20px;
  /*border: 1px solid red;*/
}

@media screen and (max-width: 767px){
  #program .program-container .left-side-container{
      position: absolute;
      right: 5%;
      padding-left: 0px;
      z-index: 999;
      height: 100vh;
  }
}

#program .program-container .left-side-container .btn-up{
  width:auto;
  height:60px;
  margin:0 auto;
  margin-top:200px;
  cursor: pointer;
  transform: rotate(-45deg);
  /*border: 1px solid red;*/
}

@media screen and (max-width: 767px){
  #program .program-container .left-side-container .btn-up{
    margin-top: 350px;
  }
}

#program .program-container .left-side-container .btn-up .text{
  width: 10vw;
  height: 2vh;
  font-size: 1em;
}

#program .program-container .left-side-container .btn-down{
  width:auto;
  height:60px;
  margin-top: 15px;
  transform: rotate(-45deg);
  cursor: pointer;
  /*border: 1px solid red;*/
}

#program .program-container .left-side-container .btn-down .text{
  width: 10vw;
  height: 2vh;
  font-size: 1em;
}

#program .program-container .content {
    flex:1;
    display: flex;
    width: 75%;
    /*border: 1px solid yellow;*/
}

@media screen and (max-width: 767px){
  #program .program-container .content {
      width: 100%;
      float: none;
  }
}

#program .program-container .content .schedule{
  flex:1;
  padding-left: 50px;
  /*border: 1px solid black;*/
}

@media screen and (max-width: 767px){
  #program .program-container .content .schedule{
    width:90%;
    padding-left: 10px;
    /* border: 1px solid red; */
  }
}

#program .program-container .content .schedule .day1-content{
  position: absolute;
}

#program .program-container .content .schedule .day1-content *{
  opacity: 1;
}

#program .program-container .content .schedule .day2-content{
  position: absolute;
}

#program .program-container .content .schedule .day2-content *{
  opacity: 0;
}

#program .program-container .content .schedule .day3-content{
  position: absolute;
}

#program .program-container .content .schedule .day3-content *{
  opacity: 0;
}

#program .program-container .content .schedule .day4-content{
  position: absolute;
}

#program .program-container .content .schedule .day4-content *{
  opacity: 0;
}

#program .program-container .content .schedule .day5-content{
  position: absolute;
}

#program .program-container .content .schedule .day5-content *{
  opacity: 0;
}

#program .program-container .content .schedule .day6-content{
  position: absolute;
}

#program .program-container .content .schedule .day6-content *{
  opacity: 0;
}


#program .program-container .content .speaker{
  flex:1;
  padding-top : 50px;
  padding-left : 50px;
  /*border: 1px solid yellow; */
}

@media screen and (max-width: 767px) {
  #program .program-container .content .speaker{
    display: none;    
  }
}


#program .program-container .content .speaker .day2-speaker,.day3-speaker,.day4-speaker,.day5-speaker{
  position: absolute;
  opacity: 0;
}



/* Registration */
#registration{
  border: 1px solid blue;
  height:705px;
  position:relative;
  background-color: #ec675a;
}
@media screen and (max-width: 768px) {
  #registration{

  }
}

#registration section {
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
    min-height: 330px;
    z-index: 10;
}

#registration .animate-right {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(100%);
}

#registration .animate-left {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(-100%);
}

#registration .animate-center {
    transition: all .8s cubic-bezier(0.650,0.000,0.175,1.000);
    transform: translateX(0%);
}

#registration .logo {
  position: relative;
  width: 100%;
  height: ;
  text-align: center;
  z-index: 0;
  margin: 0;
  padding: 0;
  text-align: center;
}
#registration .logo .flip {
  position: relative;
  top:5%;
  left: 50%;
  margin-left: -90px;
  perspective: 800;
  margin-top: 35px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  
}

#registration .logo .flip .flipper {
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
  transform-origin: center;
  
}

#registration .logo .flip .flipper .front,.back {
  width: 180px;
  height: 180px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: repeat;
  border-radius: 50%;
  
}

#registration .logo .flip .flipper .front {
  z-index: 2;
  
}
#registration .logo .flip .flipper .back {
  transform: rotateY(180deg);
}

#registration .logo .back-btn {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  margin-left: -65px;
  background: #2a2e3a;
  padding: 5px;
  left: 0%;
  top: 53%;
  display: none;
  transition: background-color 0.1s ease-in-out;
}

@media only screen and (max-width: 768px) {
  #registration .logo .back-btn{
    padding:3px;
  }
}
#registration .logo .back-btn a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  border-radius: 50%;
  background: url("http://www.digitalatelier.ro/css/../images/x.png") center #05b9dc no-repeat;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .logo .back-btn a{
    width:35px;
    height: 35px;
  }
}

#registration .bar .next a:hover {
  background-color: #f04e37;
}
#registration .bar .prev a:hover{
  background-color: #f04e37;
}
#registration .logo .back-btn a:hover{
  background-color: #f04e37;
}

#registration .bar {
  position: absolute;
  width: 100%;
  height: 0px;
  z-index: 100;
  top:260px;
  text-align: center;
}
#registration .bar-text {
  position: absolute;
  width: 100%;
  font-weight: 700;
}
#registration .bar-text p {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.2;
  display: inline-block;
  word-spacing: 2px;
  background: #333745;
  color: white;
  padding: 0 18px;
  padding-bottom: 3px;
  border-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar-text p {
    font-size: 15px;
    padding: 5px 5px;
    padding-bottom: 9px;

  }
}


#registration .bar .next,.prev {
  display: none;
  top: -10px;
  background: #333745;
  position: absolute;
  z-index: 99;
  padding: 5px;
}
#registration .bar .next {
  left: 100%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar .next {
    top:1.5px;
    left:104.5%;
  }
}
#registration .bar .next a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  background: url("http://www.digitalatelier.ro/css/../images/ar-l.png") center no-repeat #05b9dc;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .bar .next a{
    width:35px;
    height: 35px;
    margin:2px;
  }
}

#registration .bar .prev {
  left:-65px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
@media only screen and (max-width: 768px) {
  #registration .bar .prev {
    top:1.5px;
  }
}
#registration .bar .prev a {
  display: block;
  width: 50px;
  height: 50px;
  margin: 3px;
  background: url("http://www.digitalatelier.ro/css/../images/ar-r.png") center no-repeat #05b9dc;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out;
}
@media only screen and (max-width: 768px) {
  #registration .bar .prev a{
    width:35px;
    height: 35px;
    margin:2px;
  }
}


#registration .work ul {
  padding-left: 0px;
  text-align: center;
  display: block;
  overflow: hidden;
  list-style-type:none;
}

#registration .work ul li {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 15px;
  margin-top: 0;
  margin-bottom: 26px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border:1px solid blue;
}

@media only screen and (max-width: 768px){
  #registration .work ul li{
    width:150px;
    height:150px;
  }
}
#registration .pic{
  display: inline;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

#registration .work ul li a img{
  max-height: 100%;
  max-width: 100%;
}

#registration .work{
  position: absolute;
  top:400px;
  
}

@media only screen and (max-width: 768px){
  #registration .work{
    top:320px;
  }
}
.project-step01,.project-step02,.project-step03,.project-step04,.project-step05{
  display: none;
  position: absolute;
  top:350px;

}

@media only screen and (max-width: 768px) {

  .project-step01,.project-step02,.project-step03,.project-step04,.project-step05{
    position: absolute;
    top:310px;
  }
}

#registration  .project-step01 .contact-container{
  float:left;
  width:50%;
  padding:20px 0px;
}
@media only screen and (max-width: 768px) {
  #registration  .project-step01 .contact-container{
  float:none;
  width:100%;
  padding:20px 30px;
  }
}
#registration  .project-step01 .contact-container-01{
  float:left;
  width:50%;
  padding:20px 100px 20px 0px;
}
@media only screen and (max-width: 768px) {
  #registration .project-step01 .contact-container-01{
  float:none;
  width:100%;
  padding:20px 30px;
  
}
}
#registration .project-step02 .contact-container{
  float:left;
  width:100%;
  padding:20px 20px;
}










#crew{
  height:100vh;
  border:1px solid red;
  background-color: #2a4399;
}
@media only screen and (max-width: 768px) {
  #crew{
    height:auto;
  }
}
#crew .crewlogo{
  margin-top: 5%;
}
#crew #crewMember h4{
  font-weight: 700;
  font-size:20px;
  margin: 30px 0 20px 0;
  font-weight: bolder;
  -webkit-text-stroke:2px black;
  color: transparent;
  font-family:"Montserrat";
}
#crew .member .name{
  font-family: "Work Sans";
  font-weight:500;
  margin: 5px 0 3px 0;
}
#crew .member .name:hover{
    color: #1E90FF;
    transition: color 0.3s ease;
}
#crew .member .description{
  font-size: 13px;
    font-weight: 300;
    line-height: 1.3em;
}


/* Carousel indicator */
.crew_slider{
  margin-top: 10%;
}

@media only screen and (max-width: 768px){
  #crew .carousel-inner {
    height:909px;
  }
}
#crew .carousel-indicators li {
    text-indent: initial;
    width: 30%;
    height: 6px;
    margin: 0 2% 0 0;
    border-radius: 0;
    background:#696969;
    border: none;
    opacity: 0.3;
}
@media only screen and (max-width: 768px){
  #crew .carousel-indicators li{
      text-indent: initial;
      width: 20%;
      height: 6px;
      margin: 0 2% 0 0;
      border-radius: 0;
      background:#696969;
      border: none;
      opacity: 0.3;
  }
}
#crew .carousel-indicators li:last-child {
    margin: 0;
}
#crew .carousel-indicators li.active {
    opacity: 0.8;
    position: relative;
}
#crew .carousel-indicators li.active:after {
    content: "";
    width: 30%;
    height: 6px;
    top: 0;
    left: 0;
    position: absolute;
    background: #1E90FF;
}
#crew .carousel-indicators li:hover{
  opacity: 0.6;
}


/* Navigation */
nav.side-nav {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: left;
  z-index: 100; 
}
nav.side-nav a, a:hover, a:active, a:visited, a:focus {
  display: block;
  line-height: 25px;
  position: relative;
  padding-right: 20px;
  color: #000000;
  text-decoration: none; 
}
nav.side-nav a:hover .nav-label {
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 1;
  color: #000000;
  visibility: visible;
}
nav.side-nav .nav-pic {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  /*
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear; 
}
nav.side-nav .nav-label {
  display: block;
  opacity: 0.5;
  visibility: hidden;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transition: all 0.2s cubic-bezier(.17, .67, .83, .67);
  transition: all 0.2s cubic-bezier(.17, .67, .83, .67); 
}

/* 當符合 nav中的li with .active中的nav-label */
nav.side-nav li.active a .nav-label {
  -webkit-transform: translateX(30%);
  -ms-transform: translateX(30%);
  transform: translateX(30%);
  opacity: 1;
  visibility: visible; 
}
nav.side-nav ul {
  margin: 0;
  padding: 0; 
}
nav.side-nav li {
  width: auto;
  list-style: none; 
}

nav.side-nav li .nav-pic.blue-pic{
  opacity: 0;
}

nav.side-nav li .nav-pic.red-pic{
  opacity: 1;
}

nav.side-nav li .nav-label{
  color:#ec675a;
}

nav.side-nav li.active-blue .nav-pic.blue-pic{
  opacity: 1;
}

nav.side-nav li.active-blue .nav-pic.red-pic{
  opacity: 0;
}

nav.side-nav li.active-blue .nav-label{
  color:#2a4399;
}


.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 1px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 20s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -10s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;3
  animation-delay: -11s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -12s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -1s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -45%;}
}

