@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,800,900);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Duru+Sans);
@keyframes pinkPulse {
  0% {
    opacity: 0.9;
    box-shadow: 0 0 9px #333; }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px #00a8a0; }
  100% {
    opacity: 0.9;
    box-shadow: 0 0 9px #333; } }
@keyframes roll {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes floating {
  0% {
    box-shadow: 0 0 30px #00a8a0;
    transform: translateY(0%); }
  50% {
    transform: translateY(3%);
    box-shadow: 0 0 20px #00a8a0; }
  100% {
    transform: translateY(0%);
    box-shadow: 0 0 30px #00a8a0; } }
@keyframes float {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(3%); }
  100% {
    transform: translateY(0%); } }
@keyframes jump {
  0% {
    transform: translateY(-30%); }
  25% {
    transform: translateY(70%); }
  50% {
    transform: translateY(20%); }
  75% {
    transform: translateY(70%); }
  100% {
    transform: translateY(-30%); } }
@keyframes dots {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  80% {
    transform: translateY(-80%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@keyframes dots2 {
  0% {
    transform: translateY(100%);
    opacity: 0; }
  90% {
    transform: translateY(10%);
    opacity: 1; }
  100% {
    transform: translateY(0%);
    opacity: 1; } }
html {
  height: 100%; }

body {
  font: 16px/20px 'open sans',sans-serif, 'Noto Sans TC',"微軟正黑體" !important;
  margin: 0;
  padding: 0;
  height: 100%; }

/*reset*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

br {
  display: block;
  margin: 0 0 5px; }

ol, ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

body > img {
  display: none; }

img {
  border: none;
  padding: 0;
  margin: 0; }

a, a:active, a:visited, a:hover {
  outline: none;
  text-decoration: none;
  background-color: none;
  display: block;
  -webkit-tap-highlight-color: transparent; }

table, tr, td {
  padding: 0;
  border-spacing: 0; }

/*reset end */
/*variables */
/*variables end*/
html {
  box-sizing: border-box; }
  html body {
    width: 100%;
    color: white;
    height: 100%;
    background-color: black; }
    html body .main {
      position: relative;
      overflow: hidden; }
      html body .main nav {
        position: fixed; }
      html body .main #animation {
        position: absolute;
        z-index: 995; }
        @media screen and (max-width: 768px) {
          html body .main #animation {
            display: none; } }
      html body .main #home {
        -webkit-height: 100vh;
        height: 100vh;
        position: relative; }
        html body .main #home #mute {
          position: fixed;
          left: 20px;
          top: 70px;
          background-image: url(img/mute.png);
          display: block;
          width: 30px;
          height: 30px;
          background-size: cover;
          opacity: 0.7;
          z-index: 1000; }
          html body .main #home #mute:hover {
            opacity: 1;
            transition: opacity 0.2s linear; }
          html body .main #home #mute:active {
            top: 71px; }
          @media screen and (max-width: 768px) {
            html body .main #home #mute {
              display: none; } }
        html body .main #home .cone {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -607px;
          margin-top: -72px;
          z-index: 1; }
          @media screen and (max-width: 768px) {
            html body .main #home .cone {
              display: none; } }
        html body .main #home .home-bg {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -735px;
          margin-top: -297px; }
          @media screen and (max-width: 768px) {
            html body .main #home .home-bg {
              display: none; } }
        html body .main #home .line {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -418px;
          margin-top: -15px;
          z-index: 2; }
          @media screen and (max-width: 768px) {
            html body .main #home .line {
              display: none; } }
        html body .main #home .home-title {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -175px;
          margin-top: -230px;
          z-index: 999; }
          @media screen and (max-width: 768px) {
            html body .main #home .home-title {
              display: none; } }
        html body .main #home .mobile-home-title {
          display: none; }
          @media screen and (max-width: 768px) {
            html body .main #home .mobile-home-title {
              position: relative;
              display: block;
              margin: auto;
              margin-top: 100px;
              width: 60%; } }
        @media screen and (max-width: 768px) {
          html body .main #home {
            height: 100vh; } }
      html body .main #openhci2016 {
        height: 100vh; }
        html body .main #openhci2016 .biggreen {
          position: absolute;
          top: 150vh;
          left: 50%;
          width: 642px;
          height: 610px;
          background-color: #00a39b;
          border-radius: 50%;
          z-index: -3;
          margin-left: -250px;
          margin-top: -270px; }
          @media screen and (max-width: 768px) {
            html body .main #openhci2016 .biggreen {
              display: none; } }
        html body .main #openhci2016 .background {
          width: 1440px;
          height: 100vh;
          position: absolute;
          left: 50%;
          top: 100vh;
          margin-left: -720px;
          background-image: url(img/open/bg/open_bg.png);
          background-size: cover;
          z-index: 0; }
          html body .main #openhci2016 .background .sun {
            width: 59px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: 510px;
            margin-top: -210px; }
          html body .main #openhci2016 .background .eye {
            width: 55px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: 512px;
            margin-top: -310px; }
          html body .main #openhci2016 .background .slash {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            margin-left: -620px;
            margin-top: 170px; }
          @media screen and (max-width: 768px) {
            html body .main #openhci2016 .background {
              display: none; } }
        html body .main #openhci2016 .frame {
          position: relative;
          z-index: 999;
          width: 1068px;
          margin: auto;
          padding: 10% 4% 0 2%; }
          html body .main #openhci2016 .frame .title {
            width: 20%;
            float: left;
            line-height: 14px; }
            html body .main #openhci2016 .frame .title .subtitle {
              margin-top: 50px;
              font-size: 12px; }
              @media screen and (max-width: 1050px) {
                html body .main #openhci2016 .frame .title .subtitle {
                  float: none;
                  margin-top: 10px; } }
            @media screen and (max-width: 1050px) {
              html body .main #openhci2016 .frame .title {
                float: none;
                width: 100%;
                margin-bottom: 50px; } }
          html body .main #openhci2016 .frame .content {
            width: 70%;
            float: right;
            line-height: 1.5em; }
            html body .main #openhci2016 .frame .content :nth-child(1) {
              font-size: 26px; }
            @media screen and (max-width: 1050px) {
              html body .main #openhci2016 .frame .content {
                float: none;
                width: 100%;
                margin-top: 20px; } }
          @media screen and (max-width: 1050px) {
            html body .main #openhci2016 .frame {
              width: 80%;
              padding: 0 0 0 0; } }
        @media screen and (max-width: 768px) {
          html body .main #openhci2016 {
            height: initial; } }
      html body .main #introngoals {
        height: 100vh; }
        html body .main #introngoals .intro-bg {
          position: absolute;
          left: 50%;
          top: 200vh;
          margin-left: -630px;
          margin-top: -105px; }
          @media screen and (max-width: 768px) {
            html body .main #introngoals .intro-bg {
              display: none; } }
        html body .main #introngoals .snake {
          position: absolute;
          top: 250vh;
          left: 50%;
          margin-top: 640px;
          margin-left: -710px; }
          @media screen and (max-width: 768px) {
            html body .main #introngoals .snake {
              display: none; } }
        html body .main #introngoals .frame {
          position: relative;
          z-index: 999;
          width: 1068px;
          margin: auto;
          padding: 10% 4% 0 2%; }
          html body .main #introngoals .frame .title {
            width: 20%;
            float: left;
            line-height: 14px; }
            html body .main #introngoals .frame .title .subtitle {
              margin-top: 50px;
              font-size: 12px; }
              @media screen and (max-width: 1050px) {
                html body .main #introngoals .frame .title .subtitle {
                  float: none;
                  margin-top: 10px; } }
            @media screen and (max-width: 1050px) {
              html body .main #introngoals .frame .title {
                float: none;
                width: 100%;
                margin-bottom: 50px; } }
          html body .main #introngoals .frame .content {
            width: 70%;
            float: right;
            line-height: 1.5em; }
            html body .main #introngoals .frame .content h2 {
              margin-bottom: 10px; }
            @media screen and (max-width: 1050px) {
              html body .main #introngoals .frame .content {
                float: none;
                width: 100%;
                margin-top: 20px; } }
          @media screen and (max-width: 1050px) {
            html body .main #introngoals .frame {
              width: 80%;
              padding: 100px 0 0 0; } }
        @media screen and (max-width: 1050px) {
          html body .main #introngoals {
            height: initial; } }
      html body .main #program {
        height: 100vh; }
        html body .main #program .program-bg {
          position: absolute;
          top: 450vh;
          left: 50%;
          margin-top: 50px;
          margin-left: -736px; }
          @media screen and (max-width: 768px) {
            html body .main #program .program-bg {
              display: none; } }
        html body .main #program .frame {
          position: relative;
          z-index: 999;
          width: 1068px;
          margin: auto;
          padding: 10% 2% 0 2%; }
          html body .main #program .frame .title .main-title {
            display: inline-block; }
          html body .main #program .frame .title .subtitle {
            width: 180px;
            display: inline-block;
            font-size: 12px;
            line-height: 1.2em;
            margin-left: 20px; }
            @media screen and (max-width: 1050px) {
              html body .main #program .frame .title .subtitle {
                margin-left: 6px; } }
          @media screen and (max-width: 768px) {
            html body .main #program .frame .title {
              margin-bottom: 50px; } }
          html body .main #program .frame #schedule {
            margin-top: 50px; }
            html body .main #program .frame #schedule .days {
              display: block;
              width: 160px;
              float: left;
              border-left: 1px solid white;
              padding-left: 45px;
              margin-left: 30px; }
              html body .main #program .frame #schedule .days li {
                margin-bottom: 43px; }
                html body .main #program .frame #schedule .days li a {
                  display: block;
                  color: white; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days li {
                    margin-right: 8px;
                    display: inline-block;
                    margin-bottom: 15px; } }
              html body .main #program .frame #schedule .days :nth-child(6) {
                margin-bottom: 0px; }
              html body .main #program .frame #schedule .days .day1:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #ec125b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #ec125b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day1:before {
                    display: none; } }
              html body .main #program .frame #schedule .days .day2:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #c52a66;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #c52a66;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day2:before {
                    display: none; } }
              html body .main #program .frame #schedule .days .day3:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #9d4270;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #9d4270;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day3:before {
                    display: none; } }
              html body .main #program .frame #schedule .days .day4:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #765a7b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #765a7b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day4:before {
                    display: none; } }
              html body .main #program .frame #schedule .days .day5:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #4f7386;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #4f7386;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day5:before {
                    display: none; } }
              html body .main #program .frame #schedule .days .day6:before {
                display: inline-block;
                width: 36px;
                height: 36px;
                background-color: #00a39b;
                border-radius: 50%;
                content: 't';
                font-size: 0px;
                color: #00a39b;
                position: absolute;
                margin-left: -63px;
                margin-top: -5px;
                cursor: pointer; }
                @media screen and (max-width: 1050px) {
                  html body .main #program .frame #schedule .days .day6:before {
                    display: none; } }
              html body .main #program .frame #schedule .days li.active {
                background: #ec125b;
                /* Old browsers */
                background: -moz-linear-gradient(left, #ec125b 0%, #00a8a0 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #ec125b 0%, #00a8a0 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #ec125b 0%, #00a8a0 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec125b', endColorstr='$theme-green',GradientType=1 ); }
                html body .main #program .frame #schedule .days li.active a {
                  font-size: 28px; }
              @media screen and (max-width: 1050px) {
                html body .main #program .frame #schedule .days {
                  float: none;
                  width: 100%;
                  border: 0;
                  padding: 0;
                  margin-left: 0px; } }
            html body .main #program .frame #schedule .time-container {
              width: 75%;
              float: right; }
              html body .main #program .frame #schedule .time-container .day1-time h1 img, html body .main #program .frame #schedule .time-container .day2-time h1 img, html body .main #program .frame #schedule .time-container .day3-time h1 img, html body .main #program .frame #schedule .time-container .day4-time h1 img, html body .main #program .frame #schedule .time-container .day5-time h1 img, html body .main #program .frame #schedule .time-container .day6-time h1 img {
                margin-right: 10px; }
              html body .main #program .frame #schedule .time-container .day1-time .date, html body .main #program .frame #schedule .time-container .day2-time .date, html body .main #program .frame #schedule .time-container .day3-time .date, html body .main #program .frame #schedule .time-container .day4-time .date, html body .main #program .frame #schedule .time-container .day5-time .date, html body .main #program .frame #schedule .time-container .day6-time .date {
                font-size: 22px;
                margin-bottom: 30px; }
              html body .main #program .frame #schedule .time-container .day1-time p, html body .main #program .frame #schedule .time-container .day2-time p, html body .main #program .frame #schedule .time-container .day3-time p, html body .main #program .frame #schedule .time-container .day4-time p, html body .main #program .frame #schedule .time-container .day5-time p, html body .main #program .frame #schedule .time-container .day6-time p {
                margin-bottom: 15px; }
                html body .main #program .frame #schedule .time-container .day1-time p span, html body .main #program .frame #schedule .time-container .day2-time p span, html body .main #program .frame #schedule .time-container .day3-time p span, html body .main #program .frame #schedule .time-container .day4-time p span, html body .main #program .frame #schedule .time-container .day5-time p span, html body .main #program .frame #schedule .time-container .day6-time p span {
                  margin-right: 15px; }
              html body .main #program .frame #schedule .time-container .day1-time .speaker .speaker-img, html body .main #program .frame #schedule .time-container .day2-time .speaker .speaker-img, html body .main #program .frame #schedule .time-container .day3-time .speaker .speaker-img, html body .main #program .frame #schedule .time-container .day4-time .speaker .speaker-img, html body .main #program .frame #schedule .time-container .day5-time .speaker .speaker-img, html body .main #program .frame #schedule .time-container .day6-time .speaker .speaker-img {
                margin-bottom: 4px; }
              html body .main #program .frame #schedule .time-container .day1-time .speaker .live, html body .main #program .frame #schedule .time-container .day2-time .speaker .live, html body .main #program .frame #schedule .time-container .day3-time .speaker .live, html body .main #program .frame #schedule .time-container .day4-time .speaker .live, html body .main #program .frame #schedule .time-container .day5-time .speaker .live, html body .main #program .frame #schedule .time-container .day6-time .speaker .live {
                width: 35px;
                position: absolute;
                margin-left: 35px;
                margin-top: -18px;
                animation: float 1s infinite; }
              @media screen and (max-width: 768px) {
                html body .main #program .frame #schedule .time-container .day1-time .speaker, html body .main #program .frame #schedule .time-container .day2-time .speaker, html body .main #program .frame #schedule .time-container .day3-time .speaker, html body .main #program .frame #schedule .time-container .day4-time .speaker, html body .main #program .frame #schedule .time-container .day5-time .speaker, html body .main #program .frame #schedule .time-container .day6-time .speaker {
                  display: none; } }
              html body .main #program .frame #schedule .time-container .day2-time .ttable {
                width: 60%;
                float: left; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day2-time .ttable {
                    float: none;
                    width: initial; } }
              html body .main #program .frame #schedule .time-container .day2-time .speaker {
                width: 40%;
                float: left;
                font-size: 12px;
                font-weight: lighter;
                text-align: center;
                margin-top: -74px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day2-time .speaker {
                    display: none; } }
              html body .main #program .frame #schedule .time-container .day3-time .ttable {
                width: 60%;
                float: left; }
                html body .main #program .frame #schedule .time-container .day3-time .ttable .theme {
                  padding-left: 107px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day3-time .ttable {
                    float: none;
                    width: initial; } }
              html body .main #program .frame #schedule .time-container .day3-time .speaker {
                width: 40%;
                float: left;
                font-size: 12px;
                font-weight: lighter;
                text-align: center;
                margin-top: -35px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day3-time .speaker {
                    display: none; } }
              html body .main #program .frame #schedule .time-container .day4-time .ttable {
                width: 60%;
                float: left; }
                html body .main #program .frame #schedule .time-container .day4-time .ttable .theme {
                  padding-left: 107px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day4-time .ttable {
                    float: none;
                    width: initial; } }
              html body .main #program .frame #schedule .time-container .day4-time .speaker {
                width: 40%;
                float: left;
                font-size: 12px;
                font-weight: lighter;
                text-align: center; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day4-time .speaker {
                    display: none; } }
              html body .main #program .frame #schedule .time-container .day5-time .ttable {
                width: 60%;
                float: left; }
                html body .main #program .frame #schedule .time-container .day5-time .ttable .theme {
                  padding-left: 107px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day5-time .ttable {
                    float: none;
                    width: initial; } }
              html body .main #program .frame #schedule .time-container .day5-time .speaker {
                width: 40%;
                float: left;
                font-size: 12px;
                font-weight: lighter;
                text-align: center;
                margin-top: -88px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day5-time .speaker {
                    display: none; } }
              html body .main #program .frame #schedule .time-container .day6-time .ttable {
                width: 60%;
                float: left; }
                html body .main #program .frame #schedule .time-container .day6-time .ttable .theme {
                  padding-left: 107px; }
                @media screen and (max-width: 768px) {
                  html body .main #program .frame #schedule .time-container .day6-time .ttable {
                    float: none;
                    width: initial; } }
              @media screen and (max-width: 1050px) {
                html body .main #program .frame #schedule .time-container {
                  width: 100%;
                  float: none; } }
            @media screen and (max-width: 1050px) {
              html body .main #program .frame #schedule {
                margin-top: 16px; } }
          @media screen and (max-width: 1050px) {
            html body .main #program .frame {
              width: 80%;
              padding: 100px 0 0 0; } }
        @media screen and (max-width: 768px) {
          html body .main #program {
            height: 750px; } }
      html body .main #registration {
        height: 100vh; }
        html body .main #registration .registration-bg {
          position: absolute;
          top: 450vh;
          left: 50%;
          margin-top: -331px;
          margin-left: -685px; }
          @media screen and (max-width: 768px) {
            html body .main #registration .registration-bg {
              display: none; } }
        html body .main #registration .spring {
          position: absolute;
          top: 450vh;
          left: 50%;
          margin-top: -278px;
          margin-left: -633px;
          animation: jump 1.6s infinite; }
          @media screen and (max-width: 768px) {
            html body .main #registration .spring {
              display: none; } }
        html body .main #registration .frame {
          position: relative;
          z-index: 999;
          width: 1068px;
          margin: auto;
          padding: 10% 4% 0 2%; }
          html body .main #registration .frame .title {
            width: 20%;
            float: left;
            line-height: 14px; }
            html body .main #registration .frame .title .subtitle {
              margin-top: 50px;
              font-size: 12px; }
              @media screen and (max-width: 1050px) {
                html body .main #registration .frame .title .subtitle {
                  margin-top: 10px;
                  width: 100%; } }
            html body .main #registration .frame .title .button {
              width: 120px;
              height: 120px;
              margin: auto;
              border-radius: 50%;
              margin-top: 50px;
              background: white;
              /* Old browsers */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$theme-pink', endColorstr='$theme-green',GradientType=1 );
              text-align: center;
              padding-top: 38px;
              animation-name: floating;
              animation-duration: 1.5s;
              animation-iteration-count: infinite;
              cursor: pointer; }
              html body .main #registration .frame .title .button span {
                background: -moz-linear-gradient(left, #ec125b 0%, #00a8a0 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #ec125b 0%, #00a8a0 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #ec125b 0%, #00a8a0 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                width: 80px;
                display: block;
                margin: auto;
                font-size: 20px;
                line-height: 1.2em;
                font-weight: 500; }
              @media screen and (max-width: 1050px) {
                html body .main #registration .frame .title .button {
                  margin-top: 25px;
                  padding-top: 9%; } }
            @media screen and (max-width: 1050px) {
              html body .main #registration .frame .title {
                width: 100%;
                margin-bottom: 30px;
                float: none; } }
          html body .main #registration .frame .content {
            position: relative;
            width: 70%;
            float: right;
            line-height: 2em;
            overflow: hidden;
            letter-spacing: 1px; }
            html body .main #registration .frame .content .box {
              position: relative;
              display: inline-block;
              width: calc(70%/3);
              text-align: center; }
              html body .main #registration .frame .content .box .step {
                position: relative;
                font-size: 12px;
                margin-bottom: 20px; }
              html body .main #registration .frame .content .box .number {
                position: relative;
                font-size: 52px;
                font-family: 'Duru Sans', sans-serif;
                margin-bottom: 25px;
                line-height: 1em; }
                @media screen and (max-width: 1050px) {
                  html body .main #registration .frame .content .box .number {
                    font-size: 40px; } }
              html body .main #registration .frame .content .box button, html body .main #registration .frame .content .box a {
                position: relative;
                background: none;
                border: none;
                margin-bottom: 40px; }
                html body .main #registration .frame .content .box button:focus, html body .main #registration .frame .content .box a:focus {
                  outline: none; }
                @media screen and (max-width: 1050px) {
                  html body .main #registration .frame .content .box button, html body .main #registration .frame .content .box a {
                    margin-bottom: 20px; } }
              html body .main #registration .frame .content .box .step-title {
                -webkit-writing-mode: vertical-lr;
                -moz-writing-mode: vertical-lr;
                -o-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                margin: auto;
                letter-spacing: 4px;
                font-size: 20px; }
                html body .main #registration .frame .content .box .step-title span {
                  -o-writing-mode: initial;
                  -moz-writing-mode: initial;
                  -webkit-writing-mode: initial;
                  writing-mode: initial; }
                  @media screen and (max-width: 1050px) {
                    html body .main #registration .frame .content .box .step-title span {
                      font-size: 15px;
                      letter-spacing: 2px; } }
            html body .main #registration .frame .content .modal {
              position: fixed;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100vh; }
              html body .main #registration .frame .content .modal .modal-dialog {
                color: black;
                margin-top: 9%; }
                html body .main #registration .frame .content .modal .modal-dialog .modal-content .modal-body .info {
                  width: 100%;
                  max-height: 520px;
                  overflow: auto;
                  height: 70vh; }
                @media screen and (max-width: 1050px) {
                  html body .main #registration .frame .content .modal .modal-dialog {
                    margin-top: 21%; } }
            @media screen and (min-width: 768px) and (max-width: 1050px) {
              html body .main #registration .frame .content {
                float: none;
                width: 100%; }
                html body .main #registration .frame .content .box button img {
                  height: 100px; } }
            @media screen and (max-width: 768px) {
              html body .main #registration .frame .content {
                float: none;
                width: 100%; }
                html body .main #registration .frame .content :first-child button img {
                  width: 40%; }
                html body .main #registration .frame .content :nth-child(2) button img {
                  width: 70%; }
                html body .main #registration .frame .content :nth-child(3) button img {
                  width: 90%; }
                html body .main #registration .frame .content :nth-child(4) button img {
                  width: 80%; } }
          @media screen and (max-width: 1050px) {
            html body .main #registration .frame {
              width: 80%;
              padding: 100px 0 0 0; } }
        @media screen and (max-width: 1050px) {
          html body .main #registration {
            height: initial; } }
      html body .main #crew .crew-bg {
        position: absolute;
        top: 550vh;
        left: 50%;
        margin-top: -703px;
        margin-left: -649px;
        z-index: -4; }
        @media screen and (max-width: 768px) {
          html body .main #crew .crew-bg {
            display: none; } }
      html body .main #crew .six {
        position: absolute;
        top: 550vh;
        left: 50%;
        margin-top: 186px;
        margin-left: 487px;
        animation: roll 3s infinite;
        transform: rotate(30deg); }
        @media screen and (max-width: 768px) {
          html body .main #crew .six {
            display: none; } }
      html body .main #crew .frame {
        position: relative;
        z-index: 999;
        width: 1068px;
        margin: auto;
        padding: 10% 4% 0 2%; }
        html body .main #crew .frame .crewtitle {
          width: 40%;
          height: 125px;
          background: -moz-linear-gradient(left, #ff0066 0%, #00a8a0 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #ff0066 0%, #00a8a0 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #ff0066 0%, #00a8a0 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0066', endColorstr='$theme-green',GradientType=1 );
          padding-top: 10px;
          padding-left: 1px;
          position: relative; }
          html body .main #crew .frame .crewtitle img {
            float: left; }
          html body .main #crew .frame .crewtitle .subtitle {
            float: left;
            width: 180px;
            font-size: 12px;
            line-height: 1.2em;
            margin-left: 30%; }
            @media screen and (max-width: 1050px) {
              html body .main #crew .frame .crewtitle .subtitle {
                float: none; } }
          @media screen and (max-width: 1050px) {
            html body .main #crew .frame .crewtitle {
              width: 100%; } }
        @media screen and (max-width: 1050px) {
          html body .main #crew .frame {
            width: 90%;
            margin: auto; } }
      html body .main #crew #crewList {
        width: 1068px;
        margin: auto;
        padding: 2% 2% 0 2%;
        height: 555px; }
        html body .main #crew #crewList .carousel-inner .item .box {
          width: calc(100%/3);
          float: left;
          padding-right: 50px; }
          html body .main #crew #crewList .carousel-inner .item .box h4 {
            margin: 40px 0 20px 0;
            font-family: 'Work Sans';
            font-weight: 600; }
          html body .main #crew #crewList .carousel-inner .item .box .person .name {
            margin: 10px 0 3px 0;
            transform: translateZ(0); }
          html body .main #crew #crewList .carousel-inner .item .box .person .describtion {
            font-size: 12px;
            font-weight: lighter;
            line-height: 1.3em; }
          html body .main #crew #crewList .carousel-inner .item .box .person:hover .name {
            color: #10c6b9;
            transition: color 0.3s ease;
            animation-name: hvr-buzz-out;
            animation-duration: 0.75s;
            animation-timing-function: linear;
            animation-iteration-count: 1; }
          @media screen and (max-width: 1050px) {
            html body .main #crew #crewList .carousel-inner .item .box {
              width: 50%;
              padding-right: 15px; } }
        html body .main #crew #crewList .carousel-inner .item .cat-name {
          margin: 40px 0 20px 0;
          font-family: 'Work Sans';
          font-weight: 600;
          color: white; }
        html body .main #crew #crewList .carousel-inner .item .organizer, html body .main #crew #crewList .carousel-inner .item .co-organizer {
          display: inline-block;
          margin-right: 20px;
          color: white; }
          @media screen and (max-width: 768px) {
            html body .main #crew #crewList .carousel-inner .item .organizer, html body .main #crew #crewList .carousel-inner .item .co-organizer {
              margin-bottom: 10px; } }
        @media screen and (max-width: 1050px) {
          html body .main #crew #crewList {
            width: 90%;
            height: 1000px; } }
      @media screen and (max-width: 1050px) {
        html body .main #crew {
          height: 1200px;
          margin-top: 80px; } }
      html body .main #sponsor {
        width: 100%; }
        html body .main #sponsor .frame {
          position: relative;
          z-index: 999;
          width: 1068px;
          margin: auto;
          padding: 0; }
          html body .main #sponsor .frame .green {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: 564px;
            margin-top: -83px; }
            @media screen and (max-width: 768px) {
              html body .main #sponsor .frame .green {
                display: none; } }
          html body .main #sponsor .frame .left-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -651px;
            margin-top: -77px; }
            @media screen and (max-width: 768px) {
              html body .main #sponsor .frame .left-bg {
                display: none; } }
          html body .main #sponsor .frame .organizer .title, html body .main #sponsor .frame .co-organizer .title {
            color: white;
            font-family: 'Work Sans';
            font-weight: lighter;
            font-size: 14px;
            margin-top: 55px;
            margin-left: 10px; }
          html body .main #sponsor .frame .organizer img, html body .main #sponsor .frame .co-organizer img {
            display: inline-block;
            margin-top: 10px;
            margin-left: 13px; }
          html body .main #sponsor .frame .sponsor .title {
            color: white;
            font-family: 'Work Sans';
            font-weight: lighter;
            font-size: 14px;
            margin-top: 55px;
            margin-left: 10px; }
          html body .main #sponsor .frame .sponsor img {
            display: inline-block;
            margin-top: 10px;
            margin-left: 37px; }
          html body .main #sponsor .frame .sponsor :nth-child(2) {
            margin-left: 13px; }
          html body .main #sponsor .frame .sponsor :nth-child(n+9) {
            margin-top: 30px; }
          @media screen and (max-width: 768px) {
            html body .main #sponsor .frame .sponsor img {
              width: 40%;
              display: inline-block; }
            html body .main #sponsor .frame .sponsor :nth-child(2n) {
              margin-left: 4px; } }
          @media screen and (max-width: 1050px) {
            html body .main #sponsor .frame {
              width: 80%;
              padding: 0 0 0 0; } }
        @media screen and (max-width: 768px) {
          html body .main #sponsor {
            height: initial; } }
      html body .main #contact {
        height: 100vh;
        overflow: hidden; }
        html body .main #contact .contact-bg {
          position: absolute;
          top: 650vh;
          left: 50%;
          margin-left: -622px;
          margin-top: 190px;
          z-index: -1;
          animation: dots 3s infinite;
          animation-timing-function: linear; }
          @media screen and (max-width: 768px) {
            html body .main #contact .contact-bg {
              display: none; } }
        html body .main #contact .contact-bg2 {
          position: absolute;
          top: 650vh;
          left: 50%;
          margin-left: -622px;
          margin-top: 190px;
          z-index: -1;
          animation: dots2 3s infinite;
          animation-timing-function: linear; }
          @media screen and (max-width: 768px) {
            html body .main #contact .contact-bg2 {
              display: none; } }
        html body .main #contact .frame {
          position: relative;
          z-index: 999;
          width: 1064px;
          padding: 10% 3% 0 3%;
          margin: auto;
          text-align: center; }
          html body .main #contact .frame img {
            position: relative;
            margin: auto; }
          html body .main #contact .frame .info {
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
            margin-top: 50px; }
            html body .main #contact .frame .info div a {
              display: inline-block;
              color: white; }
              html body .main #contact .frame .info div a:hover {
                color: #ec125b; }
            html body .main #contact .frame .info .copyright {
              margin-top: 25px;
              margin-bottom: 40px; }
          @media screen and (max-width: 1050px) {
            html body .main #contact .frame {
              width: 90%;
              padding: 100px 0 0 0; } }
        @media screen and (max-width: 768px) {
          html body .main #contact {
            height: initial; } }
    html body .modal-backdrop {
      z-index: 998; }
    @media screen and (max-width: 768px) {
      html body {
        background-image: url(img/rwd_bg.png);
        background-size: cover;
        background-position-y: -1%; } }

/*# sourceMappingURL=style.css.map */
